<!DOCTYPE html>

<html style="padding: 0px">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-color: #2f4050">
    <div style="height: 100%" id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="~/Content/images/admin-button-icon-hi.png" />
                            </span>

                            <span class="clear">
                                <span class="block m-t-xs">
                                    <b class="font-bold" style="color: white">@ViewBag.User</b>
                                </span>
                            </span>



                    </li>
                    @if (ViewBag.Part == "Main")
                    {
                        <li class="active">
                            <a href="~/Admin"><i class="glyphicon glyphicon-home"></i> <span class="nav-label">Главная</span></a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="~/Admin"><i class="glyphicon glyphicon-home"></i> <span class="nav-label">Главная</span></a>
                        </li>
                    }
                    @if (ViewBag.Part == "Countries")
                    {
                        <li class="active">
                            <a href="~/Admin/Countries"><i class=" fa fa-globe"></i> <span class="nav-label">Страны</span></a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="~/Admin/Countries"><i class=" fa fa-globe"></i> <span class="nav-label">Страны</span></a>
                        </li>
                    }
                    @if (ViewBag.Part == "Tags")
                    {
                        <li class="active">
                            <a href="~/Admin/StoryTags"><i class="fa fa-slack"></i> <span class="nav-label">Теги историй</span></a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="~/Admin/StoryTags"><i class="fa fa-slack"></i> <span class="nav-label">Теги историй</span></a>
                        </li>}
                    @*@if (ViewBag.Part == "Images")
                            {
                                        <li class="active">
                                            <a href="~/Admin/Images"><i class="fa fa-slack"></i> <span class="nav-label">Лучшие картинки</span></a>
                                        </li>
                        }
                        else
                        {
                                        <li>
                                            <a href="~/Admin/Images"><i class="fa fa-slack"></i> <span class="nav-label">Лучшие картинки</span></a>
                                        </li>}*@


                    @if (ViewBag.Part == "Users")
                    {
                        <li class="active">
                            <a href="~/Admin/Users"><i class="fa fa-group"></i> <span class="nav-label">Администраторы</span></a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="~/Admin/Users"><i class="fa fa-group"></i> <span class="nav-label">Администраторы</span></a>
                        </li>
                    }

                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="~/Admin/Logout">
                                <i class="fa fa-sign-out"></i> Выйти
                            </a>
                        </li>
                    </ul>
                </nav>
                @RenderBody()
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="pull-right">
            zabotkins.ru
        </div>
        <div>
            <strong>Разработано</strong>  ⓒ 2017 <a href="http://www.schander-dev.art">SchAndEr </a>
        </div>
    </div>



</body>

</html>
