

<div style="margin-left:0px" class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Changes</h2>
        <ol class="breadcrumb">
            <li>
                <a href="~/">Home</a>
            </li>
            <li class="active">
                <strong>Changes</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <div class="ibox-title" style="border: none; padding: 28px 15px 7px">
            <a class="btn btn-primary " href="~/Vessel/0">Add Vessel</a>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                        <thead>
                            <tr>

                                <th>Object ID</th>
                                <th>Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Temp)
                            {
                                <tr>
                                    <td>@item.ObjectID</td>
                                    <td>@item.Type</td>
                                    <td>
                                        <a href="~/Change/Accept/@item.Type/@item.ID"><i class="fa fa-check" style="color: #1ab394 !important"></i></a>
                                        <a id="del" href="~/Change/Decline/@item.ID/del"><i class="fa fa-trash-o" style="color: #1ab394 !important"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>

